.movieCard{
    width: 95%;
    height: min-content;
    background-color: white;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border: none;
    display: flex;
    margin: auto;
    flex-direction: row;
    padding: 20px;

}
.leftContainer{
    margin: 16px;
}


.leftContainer img {
    width: 11rem;
    border: none;
    border-radius: 10px;

}
.ratingBar{
    position: relative;
    width: 180px;
    height: 4px;
    background-color: black;
    border-radius: 1px;
    margin: 8px 0px;
}
.ratingLine{
 height: 4px;
 background-color: palevioletred;
}
/* .ratingBar::before{
    content: '';
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: palevioletred;

} */

.likeDislikeContainer button{
    width: 85px;
    height: 28px;
    margin-top: 10px;
    margin-right: 8px;
    border: 0;
    border-radius: 2px;
    color: white;
    background-color: rgb(75, 75, 75);
    letter-spacing: 1px;
    cursor: pointer;
}
.likeDislikeContainer > :first-child{
    background-color:rgb(183, 124, 183) ;
}
.btnContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btnContainer button{
    width: max-content;
    padding: 0px 20px;
    height: 40px;
    border:none;
    border-radius: 30px;
    background-color: e2e6ea;
    color: black;
    letter-spacing: 1px;
    font-size: 1rem;
    margin: 10px 0px;
    margin-right: 20px;
    cursor: pointer;
}
.btnContainer > :first-child{
    background-color: rgb(183, 124, 183);
    color: white;
}
.movieTitle{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    cursor:default;
}
.rating p{
    color: rgb(183, 124, 183);
    font-weight: 400;
    font-size: .9rem;
    letter-spacing: 1px;
}
.overview p {
    /* letter-spacing: 1px; */
    margin: 10px 0px;
    cursor: default;

}
.rightContainer{
    margin: 16px;
}
.movieInfo{
    margin-top: 40px;
}
.movieInfo strong{
    font-size: 1.rem;
    /* letter-spacing: 1px; */
    font-weight: 500;
}
.movieInfo p{
    padding: 3px;
}