
#navbar{
    height: 40vh;
    background: linear-gradient(to top, #120b31ba, #db3acdcc), url('../../img/joel-muniz-f86RSR2IlYw-unsplash.jpg');
    background-position:center center ;
    background-size: cover;
    margin-bottom: '8rem';
    
    /* background-repeat: no-repeat */
}

#logo img{
    margin:10px 0px 0px 10px ;
    width: 113px;
    height: 41px;
}
.navbar_elements{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around   ;
    padding: 5px;
}
.navLinks{
    display: flex;
    flex-direction: row;
     padding : 0px 250px;
}
.navLink{
  text-decoration: none;
  list-style: none;
  color: white;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 10px;
}
#login{
    margin: 10px;
    border: none;
    width: 70px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;
}

#navbar p{
    text-align: center;
    font-size: 34px;
    font-weight: 100;
    color: white;
    margin-top: 30px;
}