
#navbar{
    height: 35vh;
    background: linear-gradient(to top, #120b31ba, #db3acdcc), url('../../img/joel-muniz-f86RSR2IlYw-unsplash.jpg');
    background-position:center center ;
    background-size: cover;
    margin-bottom: '8rem';
    
    /* background-repeat: no-repeat */
}

#logo img{
    margin:10px 0px 0px 10px ;
    width: 113px;
    height: 41px;
}
.navbar_elements{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around   ;
}
.navLinks{
    display: flex;
    flex-direction: row;
}
.navLink{
  text-decoration: none;
  list-style: none;
  margin:10px;
  color: white;
  cursor: pointer;
  font-weight: 300  ;
}
#login{
    margin: 20px;
    border: none;
    width: 70px;
    height: 35px;
    border-radius: 4px;
}

#navbar h1{
    text-align: center;
    font-weight: 300;
    color: white;
}