*{ margin: 0;
padding: 0;

}
.parentContainer{
    width: 200px;
    height: 360px;
}
.imgPre img{
    width: 11.5rem;
    height: 17rem;
    border-radius: 10px;
}
.imgPre{
    width: 11.5rem;
    height: 17rem;

}
.title{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
.cardMinorDetails{
    display: flex;
    justify-content: space-between;
    width: 10rem;
    flex-direction: row;
    color: grey;
}
.releaseDate{
    display: inline;
    font-size: .9rem;
    
}
.cardMinorDetails li{
    font-size: .9rem !Important ; 

}
.type{
    display: inline;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: .7rem;
    padding: 0px 4px 0px 2px;
    margin-bottom: 2px;

}
.playBtn{
    width: 4rem ;
    height: 4rem;
    border:none;
    border-radius: 50%;
    background-color: rgb(183, 124, 183);
    cursor: pointer;
}
.hoverBtn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}