.navLinks{
    position: relative;
}

.genreGrid{
    display: grid;
    grid-template-columns: 6rem 6rem 6rem 6rem ;
    grid-template-rows: 2rem 2rem 2rem 2rem;
    z-index: 3;
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    top: 105%;
    left: 10%;
    opacity: 0;
    z-index: -10;
    box-shadow:  rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}
.show{
z-index: 10;
opacity: 1;
}
.genreGrid li{
    list-style: none;
    font-size: .9rem;
    cursor: pointer;
    margin: 4px;
}