*{
    box-sizing: border-box;
}
.searchBar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: '8rem';
    transform: translateY(-20px);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;    
    
}
#searchIcon{
    position: relative;
    left: 40px;
    top: 22px;
}
.container input{
    width: 60%;
    height: 65px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 22px;
    padding-left: 60px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container input:focus{
    color: grey;
}

#searchBtn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: rgb(117, 22, 205);
    margin-left:15px;
    cursor: pointer;
}

/* Search Preview  */
.searchPreviewParent{
    width: 100%;
    /* border: 1px solid black; */
    position: absolute;
    height: 450px;
    display: flex;
    justify-content: center;
    z-index: 10;
    transform: translateY(-23px);
}
.searchPreview{
    overflow-y: scroll;
    width: 60%;
    /* border: 1px solid purple; */
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;  ;
    flex-direction: column;
    padding: 5px;
    border-radius: 1rem;
   background-color: white;
   transform: translateX(-40px);
}
.searchPreview::-webkit-scrollbar {
    display: none;
  }
.oneMovie{
    width: 90%;
    /* border: 1px solid red; */
    margin: 5px;
    display: flex;
    flex-direction: row;

}
.oneMovie img{
    width: 80px;
    height: 90px;
    border-radius: 10px;
}
.oneMovieDetails{
    display: flex;
    flex-direction: column;
   margin-left: 5px;
   padding: 5px;
}

.oneMovieDetails h4{
    font-weight: 500;
    font-size: .9rem;
    letter-spacing: 1px;
}
.oneMovieDetails p{
    font-size: .8rem;
}